@charset "UTF-8";

#fullpage {
  width:100%;
  height:100%;
}
#side_bar{
	position:fixed;
	width: 256px;
    height: 100%;
}
#side_btn{
	background-color: transparent;
    display: block;
    position: absolute;
    top: 0px;
    left: 270px;
    width: 70px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
} 
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 256px;
    height: 100%;
}
#inner_header{
	padding: 60px 20px 0 80px;
}
#photo{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 100px;
	text-align: center;
}
#photo img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
#login_menu a{
	text-decoration: none;
	color: black;
	line-height: 15px;
}
#navi_bar1{
    overflow: hidden;
    left:60px;
    top:220px;
    display: block;
    width: 180px;
    height: 1px;
    max-height: 280px;
    margin: 14px auto;
    background-color: #c0c0c0;
}
#tab{
	list-style: none;
}
#tab li{
	padding-left:40px;
	text-align: left;
	line-height: 50px;
}

#tab li a{
	text-decoration: none;
	color: black;
}
#navi_bar2{
    overflow: hidden;
    left:60px;
    top:440px;
    display: block;
    width: 180px;
    height: 1px;
    max-height: 280px;
    margin: 14px auto;
    background-color: #c0c0c0;
}
#tab1{
	list-style: none;
}
#tab1 li{
	padding-left:40px;
	text-align: left;
	line-height: 50px;
}

#tab1 li a{
	text-decoration: none;
	color: black;
}
#menu li {
  display: inline-block;
  margin: 10px;
  width: 12px;
  height: 12px;
  color: #000;
  background: #ff8080;
  -webkit-border-radius: 10px;
  border-radius: 12px;
   float: left;
}
#menu li.active {
  background: #00ff00;
  background: rgba(0, 0, 0, 0.5);
  color: #ff80ff;
}
#menu li a {
  text-decoration: none;
  color: #808080;
}
#menu li.active a:hover {
  color: #000;
}
#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}
#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}
#menu li.active a {
  color:black;
}
#menu {
  position:absolute;
  top:750px;
  left:100px;
  height: 40px;
  z-index: 70;
  width: 40px;
  padding: 0;
  margin: 0;
  opacity: 1!important;
  display: inline-block;
  vertical-align: top;
}

.section {
	font-size: 3vw; 
	text-align:center;
	background-color: #b5b5b5;
	}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300;  
}
.p_left{
	left:0px;
}
.p_right{
	right:0px;
}
.innerbox{
	position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}
.text_box{
	position:relative;
    width: 100%;
    height: 50%;
}
.right_box{
	width: 600px;
	height: 650px;                     
	margin: 0 auto;
	
}
.top_box{
	top:0px;
	background-color: yellow;
}
.bottom_box{
	margin:0px;
	bottom:0px;
}
.bottom_box h2{
	margin:0px;
}
.box_img1{
	background-image: url("/resources/css/img/kakao.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.box_img2{
	background-image: url("/resources/css/img/git.PNG");
	background-repeat: no-repeat;
	background-size: contain;
}
.box_img3{
	background-image: url("/resources/css/img/naver.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
.box_img4{
	background-image: url("/resources/css/img/insta.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#div_input{
	position: absolute;
	
}
.stack{
	display:inline-block;
	float:inherit;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	/* margin-left: 40px; */
}
.stack img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
