@charset "UTF-8";
@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	margin:0px;
	padding: 0px;
	font-size: 20px;
	font-family: 'establishRoomNo703OTF';
}
body{
	margin: 0px;
	background-color:#c0c0c0;
}
#side_bar{
	font-family: 'establishRoomNo703OTF';
	position:fixed;
	width: 270px;
    height: 100%;
    background-color: white;
}
#side_btn{
	font-family: 'establishRoomNo703OTF';
	background-color: #ffffff;
    display: block;
    position: absolute;
    top: 30px;
    left: 270px;
    width: 70px;
    height: 38px;/*  */
    line-height: 38px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    
} 
header {
    top: 0;
    left: 0;
   z-index: 110;
}
#inner_header{
	padding: 60px 20px 0 80px;
}
#photo{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 100px;
	text-align: center;
}
#photo img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
#login_menu a{
	text-decoration: none;
	color: black;
	line-height: 15px;
}
#navi_bar1{
    overflow: hidden;
    left:60px;
    top:220px;
    display: block;
    width: 180px;
    height: 1px;
    max-height: 280px;
    margin: 14px auto;
    background-color: #c0c0c0;
}

#tab1{
	list-style: none;
}
#tab1 li{
	padding-left:40px;
	text-align: left;
	line-height: 50px;
}
#tab1 li a{
	text-decoration: none;
	color: black;
}
#kakao::before{
	content:"";
	background-image:url("/resources/css/img/kakao.svg");
	background-size:15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
}
#git::before{
	content:"";
	background-image:url("/resources/css/img/git.svg");
	background-size:15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
}
#blog::before{
	content:"";
	background-image:url("/resources/css/img/blog.svg");
	background-size:15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
}
#insta::before{
	content:"";
	background-image:url("/resources/css/img/insta.svg");
	background-size:15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
}
#menu li {
  display: inline-block;
  margin: 10px;
  width: 12px;
  height: 12px;
  color: #000;
  background: #ffff00;
  -webkit-border-radius: 10px;
  border-radius: 12px;
   float: left;
}
#menu li.active {
  background: #00ff00;
  background: rgba(0, 0, 0, 0.5);
  color: #ff80ff;
}
#menu li a {
  text-decoration: none;
  color: #808080;
}
#menu li.active a:hover {
  color: #000;
}
#menu li:hover {
  background: #000;
}
#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}
#menu li.active a {
  color:black;
}
#menu {
  position:absolute;
  top:650px;
  left:100px;
  height: 40px;
  z-index: 70;
  width: 40px;
  padding: 0;
  margin: 0;
  opacity: 1!important;
  display: inline-block;
  vertical-align: top;
}
section{
	text-align: center;
	font-family: 'establishRoomNo703OTF';
	font-size: 20px;
}
#detailbox{
	margin: 0 auto;
	width: 1200px;
	height: 800px;
	
}
#table{
	width: 1200px;
	height: 800px;
	border-collapse: collapse;
	border:  1px solid black;
	box-shadow: 6px 6px grey;
}
th,td{

	border:  1px solid black;
	
}
#replybox{
	width: 800px;
	
}
#replyUL{
	list-style:none;
	text-align: left;
	padding-left: 0px;
	margin-top: 10px;
}
.replyli{
	display: flex;
	height: 50px;
	border: 1px solid black;
    line-height: 45px;	
    
}
span{
	margin-left: 5px;
	margin-right: 5px;
}
.replycontent{
	overflow-wrap: anywhere;
}
#reply{
	height: 80px;
    width: 95%;
    border: none;
    resize: none;
    border-radius: 15px;
    box-shadow: 5px 5px;

}
textarea.autosize { 
	min-height: 50px; 
	background-color: transparent;
    border: none;
}
textarea{
	width: 1200px;
	resize: none;
}
#detail_reply{
	width: 1200px;
}
.li{
	width:1200px;
	line-height: 30px;
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
	box-shadow: 3px 3p
}
.text_box {
	position:relative; 
	display:inline-block;
	 width:100%;
	 }
.text_box textarea {
	width:100%; 
	height:152px; 
	color:#666; 	
	font-size:18px; 
	line-height:28px; 
	padding:20px; 
	border:1px solid #e4dcd3; 
	outline:0; resize:none
	}
.text_box .count {
	position:absolute;
	 right:20px; 
	 bottom:20px; 
	 color:#666; 
	font-family: 'establishRoomNo703OTF';
	 font-size:20px;
}
#input_bno{
	background: transparent;
    border: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'establishRoomNo703OTF';
}
.trtd{
	border: none;
}
#link{
	text-decoration: none;
	color: black;
}
#replywrt{
	WIDTH: 170px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px;
    font-family: 'establishRoomNo703OTF';
    background-color: transparent;
}
.detail_input {
    margin-top: 15px;
}
label {
    font-size: 40px;
}
.submit{
	margin-top: 20px;
    height: 40px;
    width: 80px;
    border: 1px solid black;
    box-shadow: 3px 3px;
    border-radius: 15px;
    font-family: 'establishRoomNo703OTF';
    background-color: transparent;
}
button {
    border: 1px solid black;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    margin-bottom: 40px;
    background-color: transparent;
    box-shadow: 5px 5px black;
}
#fileul li{
	list-style-type : none;
}
.fileimg{
	width: 200px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
