@charset "UTF-8";
@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'establishRoomNo703OTF';
	margin: 0 auto;
}
#mypage_box{
	width: 850px;
	height: 850px;
	background-color: yellow;	
	margin-top: 130px;
	border: 1px solid black;
	box-shadow: 10px 10px gray;
	border-radius: 15px;
}

#mypage_sb {
    text-align: center;
    position: absolute;
    bottom: 166px;
    left: 680px;
}
h1{
	font-size: 48px;
}
table {
    width: 800px;
    height: 600px;
    font-size: 24px;
}
input[type="text"] {
    width: 600px;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
}
input.btn {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 3px 3px;
    margin-left: 30px;
    font-size: 20px;
}
#pw1{
    width: 600px;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
}
#showPassword{
	position: absolute;
    right: 70px;
    top: 335px;
}
