@charset "UTF-8";
@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
		font-family: 'establishRoomNo703OTF';
	margin: 0 auto;
	text-align: center;
}
body{
	background: silver;
}
#side_bar{
	font-family: 'establishRoomNo703OTF';
	position:fixed;
	width: 270px;
    height: 100%;
    background-color: white;
}
#side_btn{
	font-family: 'establishRoomNo703OTF';
	background-color: #ffffff;
    display: block;
    position: absolute;
    top: 30px;
    left: 270px;
    width: 70px;
    height: 38px;/*  */
    line-height: 38px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    
} 
header {
    top: 0;
    left: 0;
   z-index: 110;
}
#inner_header{
	padding: 60px 20px 0 0px;
}
#photo{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 100px;
	text-align: center;
}
#photo img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
#login_menu a{
	text-decoration: none;
	color: black;
	line-height: 15px;
}
#navi_bar1{
    overflow: hidden;
    left:60px;
    top:220px;
    display: block;
    width: 180px;
    height: 1px;
    max-height: 280px;
    margin: 14px auto;
    background-color: #c0c0c0;
}

#tab1{
	list-style: none;
}
#tab1 li{
	padding-left:40px;
	text-align: left;
	line-height: 50px;
}
#tab1 li a{
	text-decoration: none;
	color: black;
}
#kakao::before{
	content:"";
	background-image:url("/resources/css/img/kakao.svg");
	background-size:15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
}
#git::before{
	content:"";
	background-image:url("/resources/css/img/git.svg");
	background-size:15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
}
#blog::before{
	content:"";
	background-image:url("/resources/css/img/blog.svg");
	background-size:15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
}
#insta::before{
	content:"";
	background-image:url("/resources/css/img/insta.svg");
	background-size:15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
}
#menu li {
  display: inline-block;
  margin: 10px;
  width: 12px;
  height: 12px;
  color: #000;
  background: #ffff00;
  -webkit-border-radius: 10px;
  border-radius: 12px;
   float: left;
}
#menu li.active {
  background: #00ff00;
  background: rgba(0, 0, 0, 0.5);
  color: #ff80ff;
}
#menu li a {
  text-decoration: none;
  color: #808080;
}
#menu li.active a:hover {
  color: #000;
}
#menu li:hover {
  background: #000;
}
#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}
#menu li.active a {
  color:black;
}
#menu {
  position:absolute;
  top:650px;
  left:100px;
  height: 40px;
  z-index: 70;
  width: 40px;
  padding: 0;
  margin: 0;
  opacity: 1!important;
  display: inline-block;
  vertical-align: top;
}
h2{
	font-size: 40px;
	margin-top: 30px;
}
form{
	width: 1024px;
    height: 800px;
}
table{
	border: 1px solid black;
	width: 1024px;
	height: 700px;
	font-size: 25px;
	box-shadow: 8px 8px black;
	border-radius: 15px;
}
th, td{
	border: 1px solid black;
	border-radius: 15px;
}
input[name="name"]{
	width: 850px; 
	height: 50px; 
	background-color: transparent; 
	border: none;
	font-size: 25px;
}
input[name="content"] {
    height: 550px;
    width: 850px;
    background: transparent;
    border: none;
    font-size: 25px;
}
input::placeholder{
	font-size: 40px;
}
input[name="link"]{
	width: 850px; 
	height: 50px; 
	background-color: transparent; 
	border: none;
	font-size: 25px;
}
input[name="uploadFile"]{
		font-size: 15px;
}
.uploadDiv{
	margin-top: 30px;	
}
#name{
	height: 50px;
}
#link{
	height: 50px;
}
#uploadBtn{
	background-color: transparent;
	    font-size: 20px;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 3px 3px black;
	
}