@charset "UTF-8";

body{
	margin: 0;
	background-color: #717171;
}
#listbox{
	margin: 16px auto;
	height:860px;
	width: 1024px;	
	position: relative;

	
}
#head_h2{
	text-align: center;
	color: white;
}
#table_div{
	width: 1024px;
	height: 860px;

}
table{
	width: 1024px;
}
table, th, td{
	text-align: center;
	border: 1px solid white;
	color:white;
}
table tr td a{
	color: white;
}
#pagenum_box{
	position: absolute;
	left: 500px;
}
.page_num{
	color: black;
	font-size: 20px;
	text-align: center;
}
.bno{
	width: 50px;
}
.name{
	width: 60px;
}
.id{
	width: 90px;
}
.content{
	width: 150px;
}
.date{
	width: 150px;
}
.cnt{
	width: 50px;
}
#content_a{
	color: black;
	font-size: 20px;
}