@charset "UTF-8";
@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'establishRoomNo703OTF';
	margin: 0 auto;
}
#mypage_box{
	width: 1024px;
	height: 850px;
	background-color: yellow;	
	margin-top: 130px;
	border: 1px solid black;
	box-shadow: 10px 10px gray;
	border-radius: 15px;
}

#mypage_sb {
    text-align: center;
}
h2{
	font-size: 48px;
}
table {
    width: 800px;
    font-size: 24px;
    margin-top:20px;
}

input.btn {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 3px 3px;
    margin-left: 30px;
    font-size: 20px;
}
select {
    height: 22px;
}
a{
	text-decoration: none;
	color: black;
}
